    <footer class="w-full mx-auto bg-footerbg pt-14">
        <div class="container flex lg:px-3 md:px-6 md:py-8 mx-auto md:px-7 px-7"> 
            <div class="w-full mx-auto flex flex-wrap">
                <div class="w-full lg:w-1/3 md:w-3/6 md:pb-0 pb-8">
                    <div class="pb-8">
                        <a href="/"><img width="260" height="44" src="/images/footer-logo.webp" alt=""></a>
                    </div>
                     <ul>
                         <li class="pb-3.5 font-light"><a href="mailto:{{global.info_email}}" class="text-textwhite text-sm"><span class="mr-3.5 text-base"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>{{global.info_email}}</a></li>
                         <li class="pb-3.5 font-light"><a href="tel:{{global.info_number}}" class="text-textwhite text-sm"><span class="mr-3.5 text-lg"><i class="fa fa-phone" aria-hidden="true"></i></span>{{global.info_number_text}}</a></li>
                     </ul>
                </div>
                <div class="w-full lg:w-1/5 md:w-3/6 lg:mb-0 md:mb-20 md:pb-0 pb-8">
                    <h4 class="text-textwhite text-xl font-semibold pb-3.5">ABOUT US</h4>
                    <ul>
                        <li class="pb-2"><a href="/" class="text-textwhite text-sm">Home</a></li>
                        <li class="pb-2"><a href="/product-categories.html" class="text-textwhite text-sm">Categories</a></li>
                        <li class="pb-2"><a href="/locations.html" class="text-textwhite text-sm">Locations</a></li>
                        <li class="pb-2"><a href="/about.html" class="text-textwhite text-sm">About</a></li>
                        <li class="pb-2"><a href="/contact-us.html" class="text-textwhite text-sm">Contact Us</a></li>
                    </ul>
                </div>
                <div class="w-full lg:w-1/4 md:w-3/6 md:pb-0 pb-8">
                    <h4 class="text-textwhite text-xl font-semibold pb-3.5">OUR POLICY</h4>
                    <ul>
                        <li class="pb-2"><a href="/faq.html" class="text-textwhite text-sm">FAQ</a></li>
                    </ul>
                </div>

                <div class="w-full lg:w-1/5 md:w-3/6 lg:text-center md:text-left">
                    <h4 class="text-textwhite text-xl font-semibold pb-3.5">Connect With Us</h4>
                    <ul class="flex lg:justify-center md:justify-start pb-8">
                        <li class="xl:px-3 md:px-2 pr-4"><a href="https://www.facebook.com/" class="text-textwhite inline-block w-11 h-11 bg-primary rounded-full text-center text-lg pt-2"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="xl:px-3 md:px-2 pr-4"><a href="https://twitter.com/"  class="text-textwhite inline-block w-11 h-11 bg-primary rounded-full text-center text-lg pt-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="xl:px-3 md:px-2 pr-4"><a href="https://www.youtube.com/"  class="text-textwhite inline-block w-11 h-11 bg-primary rounded-full text-center text-lg pt-2"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li class="xl:px-3 md:px-2 pr-4"><a href="https://www.linkedin.com/"  class="text-textwhite inline-block w-11 h-11 bg-primary rounded-full text-center text-lg pt-2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center py-3.5 border-t border-gray-800">
            <p class="text-textwhite text-sm">© 2021 All rights reserved by DotSquares</p>
        </div>
    </footer>