    <!--Nav-->
    <nav id="header" class="w-full z-8 top-0 py-1 bg-menubg relative">
        <div class="w-full container mx-auto flex flex-wrap items-center md:justify-center mt-0 px-6 py-3">

            <button for="menu-toggle" class="cursor-pointer outline-none mobile-menu-button md:hidden focus:outline-none">
                <svg class="fill-current text-textwhite" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
            <div class="mobile-menu hidden md:flex md:items-center md:w-auto w-full md:order-1 absolute md:static md:top-0 bg-menubg md:bg-transparent left-0 right-0 top-12 z-30">
                <nav>
                    <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 pb-4 md:pt-0 md:pb-0">
                        <li class="xl:px-6 lg:px-4 md:px-0 px-5"><a class="inline-block no-underline text-textwhite py-2 lg:px-4 md:px-3 hover:text-primary" href="/">Home</a></li>
                        <li class="xl:px-6 lg:px-4 md:px-0 px-5"><a class="inline-block no-underline text-textwhite py-2 lg:px-4 md:px-3 hover:text-primary" href="/about.html">About</a></li>
                         <li class="xl:px-6 lg:px-4 md:px-0 px-5"><a class="inline-block no-underline text-textwhite py-2 lg:px-4 md:px-3 hover:text-primary" href="/products.html">Products</a></li>
                        <li class="xl:px-6 lg:px-4 md:px-0 px-5">
                            <a class="inline-block no-underline text-textwhite py-2 lg:px-4 md:px-3 hover:text-primary" href="/locations.html">
                                Locations
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
    </nav>
