<div class="xl:py-0 xl:pr-0 xl:pl-4 2xl:pl-12 flex justify-between flex-wrap xl:flex-nowrap">
    <div class="w-full container mx-auto flex items-center justify-between mt-0 px-6 py-3 relative h-24">
        
        <div class="hidden md:flex md:items-center md:w-auto w-full">
            <span class="text-greytext inline-block mr-2 text-xs font-medium">Consultation</span>
            <a href="#" class="text-primary inline-block mr-2 text-xs font-medium">
                {{global.info_number}}
            </a>
        </div>
        <div class="w-auto absolute left-0 right-0 mx-auto w-full inline-block md:max-w-xs text-center w-3/5">
            <a class="inline-block" href="/">
                <img class="md:w-44 lg:w-auto h-auto " src="/images/main-logo.png">
            </a>
        </div>
    </div>
</div>





