<div class="xl:py-0 xl:pr-0 xl:pl-4 2xl:pl-12 flex justify-between flex-wrap xl:flex-nowrap">
    <div class="w-full container mx-auto flex items-center justify-between mt-0 px-6 py-3 relative h-24">
        
        <div class="hidden md:flex md:items-center md:w-auto w-full">
            <span class="text-greytext inline-block mr-2 text-xs font-medium">Consultation</span>
            <a href="#" class="text-primary inline-block mr-2 text-xs font-medium">{{global.info_number}}</a>
        </div>
        <div class="w-auto absolute left-0 right-0 mx-auto w-full inline-block md:max-w-xs text-center w-3/5">
            <a class="inline-block" href="/">
                <img class="md:w-44 lg:w-auto h-auto " src="/images/main-logo.png">
            </a>
        </div>
        <div class="w-auto flex items-center absolute right-0 md:top-6 top-24 z-10">
            <div class="flex">
                <button class="flex ease-in-out duration-700 outline-none focus:outline-none bg-lightgrey hover:text-gray-300 opacity-60 capitalize pl-6 pr-9 py-1 text-2xl inline-block rounded-l-full w-24 hover:w-72 text-left"><i class="relative top-2 fa fa-search" aria-hidden="true"></i>
                    <input type="search" id="query" name="q" placeholder="Enter ZIP Code or Address" class="h-10 text-base bg-transparent w-full block mx-2 focus:outline-none">
                </button>
                <button onclick="openModal(true)" class="outline-none focus:outline-none bg-primary hover:bg-secondary text-textwhite capitalize px-8 py-2 md:px-14 md:py-2 text-sm inline-block rounded-full relative -ml-6 leading-8">LOGIN</button>
            </div>
       </div>
    </div>
</div>





