---
{
"urlFormat": "contact-us.html"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About Us</title>
        <meta name="description" content="About {{global.name}}">
        {{>head}}
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/fonts/fonts.css" />
    </head>
    <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
        
        {{>top-nav}}
        {{>navbar}}
        <section class="bg-white py-8">
            <div class="container md:py-8 px-6 mx-auto">
                <div class="xl:w-3/6 mx-auto text-center py-8 px-6 md:w-4/5">
                    <h2 class="text-3xl lg:text-5xl md:text-3xl font-semibold text-bluetext font-Josefin pb-4 mb-3  relative z-10">Contact Us</h2>
                    <p class="font-base text-bluetext font-Josefin leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum, dolor a rhoncus elementum, urna lorem feugiat lacus, et efficitur massa nulla et nibh. Cras malesuada vel nibh sed pretium. Sed quis libero in lectus dignissim porta. Morbi feugiat ornare elit, non rutrum mi scelerisque ut. Suspendisse facilisis gravida massa porttitor eleifend. Praesent dictum non ex vel rhoncus. Aenean at tortor ac sem venenatis interdum. Ut ac malesuada leo, eu facilisis ex.</p>
                </div>
            </div>
        </section>
        <section class="bg-menubg">
            
            <div class="flex flex-wrap">
                <div class="lg:w-2/4 w-full">
                    <img src="/images/our-mission.webp" class="inline-block w-full h-full object-cover">
                </div>
                <div class="lg:w-2/4 xl:px-44 xl:py-32 px-10 py-10 w-full">
                    <h2 class="text-3xl lg:text-4xl md:text-3xl font-semibold text-textwhite mb-6">Drop Your Message</h2>
                    
                    <div class="w-full">
                        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" id="contact-form" >
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                    Name
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter Your Name" name="name">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                    Email
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter Your Email" name="emails">
                            </div>
                            <div class="mb-6">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                                    Message
                                </label>
                                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="description" placeholder="Enter Your Message" name="description"></textarea>
                            </div>
                            <div class="flex items-center justify-between">
                                <button class="bg-primary hover:bg-menubg text-textwhite font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
        <script>
            const formElem = document.querySelector('form');
            formElem.addEventListener('submit', (e) => {
                e.preventDefault();
                new FormData(formElem);
            });

            formElem.addEventListener('formdata', (e) => {
                let data = e.formData;
                var request = new XMLHttpRequest();
                

                fetch('https://api-sandbox.yext.com/v2/accounts/2679138/entities?api_key=45ff39acf937fd79c35c911b61fd7e5f&v=20211223&entityType=ce_contactEnquiries', {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(res => res.json())
                .then(res => {
                    console.log(res);
                    formElem.reset();
                }).catch((e) => console.log(e));
            });
            
        </script>
    </body>
</html>