---
{ 
   "urlFormat":"products.html"
}
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Dotsquares Answers</title>
      <meta name="description" content="Dotsquares Answers {{global.name}}">
      {{>head}}
    <script src="https://assets.sitescdn.net/answers/v1/answerstemplates.compiled.min.js"></script>
    <script src="https://assets.sitescdn.net/answers/v1/answers.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://assets.sitescdn.net/answers/v1/answers.css"
    />

    <!-- layout styling -->
    <style>
      .searchbar-layout {
        max-width: 50rem;
        margin: auto;
      }
      .filters-and-results-layout {
        display: flex;
        max-width: 70rem;
        margin: auto;
        margin-top: 1rem;
      }
    </style>
  </head>
   <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
   {{>top-nav}}
      {{>navbar}}		
      <section class="bg-white py-8"> 
    <div class="answers-layout">
      <div class="searchbar-layout">
        <div class="searchbar-container"></div>
        <div class="navigation-container"></div>
      </div>
      <div class="filters-and-results-layout">
        <div class="facets-container"></div>
        <div class="vertical-container"></div>
      </div>
    </div>
	</section>
    <script>
      ANSWERS.init({
        apiKey: "cc8b0bde99d9d71f0f7a6fa03200807b",  //sample test experience
        experienceKey: "dotsquares-answers", //sample test experience
        businessId: "2679138",  //sample test experience
        environment: "sandbox",
        verticalPages: [          
          {
            label: "locations",
            url: "/answer-search.html",
            verticalKey: "locations",
            icon: "pin",
            isFirst: false,
            isActive: false,
            hideInNavigation: false
          },
		  {
            label: "products",
            url: "/products.html",
            verticalKey: "products",
            icon: "pin",
            isFirst: false,
            isActive: true
          }
        ],        
        onReady: function () {
          // init components
          this.addComponent("SearchBar", {
            container: ".searchbar-container",
            allowEmptySearch: true,
            verticalKey: "products"
          });
          this.addComponent("Navigation", {
            container: ".navigation-container"
          });
          // init components
          this.addComponent("VerticalResults", {
            container: ".vertical-container",
            verticalKey: "products",
            searchOnChange: true,
			card: {
              cardType: "Standard",
              dataMappings: {
                title: (item) => item.name,
				subtitle: (item) => '$'+item.price.value,
                details: (item) => item.richTextDescription,
				image: (item) => item.photoGallery ? item.photoGallery[0].image.url : null,	
                url: (item) => item.slug
              }
            }
          });
        }
      });
    </script>
   {{>footer}}
   </body>
</html>
